[submodule "Prototype-1"]
	path = Prototype-1
	url = https://github.com/altuntasfth/Prototype-1.git
[submodule "Challenge1-PlaneProgramming"]
	path = Challenge1-PlaneProgramming
	url = https://github.com/altuntasfth/Challenge1-PlaneProgramming.git
[submodule "Prototype-2"]
	path = Prototype-2
	url = https://github.com/altuntasfth/Prototype-2.git
[submodule "Challenge2-PlayFetch"]
	path = Challenge2-PlayFetch
	url = https://github.com/altuntasfth/Challenge2-PlayFetch.git
[submodule "Prototype-3"]
	path = Prototype-3
	url = https://github.com/altuntasfth/Prototype-3.git
[submodule "Challenge3-Balloons-Bombs-Booleans"]
	path = Challenge3-Balloons-Bombs-Booleans
	url = https://github.com/altuntasfth/Challenge3-Balloons-Bombs-Booleans.git
